/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Playfair+Display:wght@400;600&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Playfair+Display:wght@400;600&family=Poppins:wght@400;900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
  height: 100%;
  background-color: white;
  @apply text-black;
}
.active {
  color:#65FADE;
}

.dotActive{
  position:relative;
  background-color:#65FADE;
}
.dotActive::before {
  content: "";
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  border-radius:9999px;
  border-width:2px;
  border-color: #65FADE;
  left: -50%;
  top: -50%;

}
