@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
  height: 100%;
  background-color: white;
  @apply text-black;
  font-family: 'Noto Sans', sans-serif;
}
.active {
  color:#65FADE;
  border-bottom: solid 4px #65FADE;
}

.activeMenu {
  color:#A30B9E;
  border-bottom: solid 2px #A30B9E;
}

.dotActive{
  position:relative;
  background-color:#65FADE;
}
.dotActive::before {
  content: "";
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  border-radius:9999px;
  border-width:2px;
  border-color: #65FADE;
  left: -50%;
  top: -50%;

}
