@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
  height: 100%;
  background-color: white;
  @apply text-black;
  font-family: 'Poppins', sans-serif;
}
.active {
  color:white;
  border-bottom: solid 2px white;
}

.activeMenu {
  color:white;
  border-bottom: solid 2px white;
}

#about {
  background: linear-gradient(to right,  #E6DACE 0%,#E6DACE 40%,#f6f6f6 40%,#f6f6f6 100%);
}